@if (detailsProduct) {
    <section>
    
        <div class="grid md:grid-cols-4 gap-4">
            <div class="col-span-1">
              <img [src]="detailsProduct.imageCover" class="w-full max-w-xs rounded-xl" [alt]="detailsProduct.title">
            </div>
          
            <div class="md:col-span-3 flex items-center">
              <div class="w-full">
                <h2 class="text-xl text-green-500 font-semibold">{{ detailsProduct.title }}</h2>
                <p class="text-muted mt-2">{{ detailsProduct.description }}</p>
                <h3 class="text-sm text-gray-500 mt-1">{{ detailsProduct.category.name }}</h3>
          
                <div class="flex justify-between items-center mt-4">
                  <span class="font-medium">{{ detailsProduct.price }} EGP</span>
                  <div class="flex items-center">
                    <i class="fas fa-star text-yellow-300"></i>
                    <span class="text-gray-500 ml-1">{{ detailsProduct.ratingsAverage }}</span>
                  </div>
                </div>
          
                <button
                  class="bg-green-600 text-white py-2 my-5 px-10 w-[100%] block mx-auto border rounded"
                >
                  Add To Cart
                </button>
              </div>
            </div>
          </div>
          
          
          
    </section>
}