<section>
  <h1 class="text-green-700 mt-9 text-center text-3xl">All Brands</h1>
  <div class="grid mt-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 shadow gap-10">
    @for (Cat of Category(); track Cat._id) {

    <div
      class="hover:shadow-[0_0_15px_3px_rgba(59,130,246,0.5)] transition-shadow rounded duration-300"
    >
      <img [src]="Cat.image" class="w-full h-[300px]" [alt]="Cat.name" />
      <h3 class="text-green-600 text-center p-3 font-bold ">{{ Cat.name }}</h3>
    </div>
    }
  </div>
</section>
