<section>
    <h1 class="text-4xl py-3 text-center text-green-600 font-light my-4">Forget Password</h1>
   @if (step == 1) {
    <form [formGroup]="verifyEmail" class="w-[80%] mx-auto bg-gray-100 p-4 rounded border-1 shadow " (ngSubmit)="verifyEmailSubmit()">
        <div class="">
            <label for="email" class="block my-4 text-sm font-medium text-gray-900 ">Email :</label>
            <input formControlName="email" type="email" id="email"
                class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full my-5 p-2.5 dark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
        </div>
    </form>
   }



   @if (step == 2) {
    <form [formGroup]="verifyCode" class="w-[80%] mx-auto bg-gray-100 p-4 rounded border-1 shadow " (ngSubmit)="verifyCodeSubmit()">
        <div class="">
            <label for="resetCode" class="block my-4 text-sm font-medium text-gray-900 ">resetCode :</label>
            <input formControlName="resetCode" type="text" id="resetCode"
                class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full my-5 p-2.5 dark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <button [disabled]="verifyCode.invalid" class="btn-main">resetCode</button>
        </div>
    </form>
}
@if (step == 3) {
    <form [formGroup]="resetPassword" class="w-[80%] mx-auto bg-gray-100 p-4 rounded border-1 shadow " (ngSubmit)="resetPasswordSubmit()">
        <div class="">
            <label for="email" class="block my-4 text-sm font-medium text-gray-900 ">Email :</label>
            <input readonly formControlName="email" type="email" id="email"
                class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full my-5 p-2.5 dark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <div class="">
            <label for="newPassword" class="block my-4 text-sm font-medium text-gray-900 "> set new password</label>
            <input formControlName="newPassword" type="password" id="newPassword"
                class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full my-5 p-2.5 dark:text-gray-800 dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
        <button [disabled]="resetPassword.invalid" class="btn-main">resetPassword</button>

    </form>
}

</section>